* {
    box-sizing: border-box;
}
  
body {
    width: 100vw;
    height: 100vh;
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    width: 392px;
    margin: 100px auto auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.big-logo img {
    width: 218px;
    margin: auto;
}

.custom-button {
    width:100%;
    margin-top: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 65px;
    border: 3px solid #FFEF61;
    border-radius: 12px;
}
.custom-button h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: black;
    margin: 0 5px;
}

.flashcard-frame {
    width: 392px;
    height: 576px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgoldenrodyellow;
}
.flashcard-frame h2 {
    margin: 5px 5px auto auto;
}
.flashcard-frame h3 {
    margin: auto;
}
.flashcard-frame img {
    width: 40px;
    height: 35px;
    margin: auto 5px 5px auto;
}