* {
    box-sizing: border-box;
}
  
body {
    width: 100vw;
    height: 100vh;
    background-color: #FAFAFA;
}

.main-container {
    width: 392px;
    margin: 100px auto auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.big-logo img {
    width: 218px;
    margin: auto;
}

.launch-game {
    width: 100%;
    margin-top: 260px;
    display: flex;
    justify-content: center;
}

.flashcard-frame {
    width: 392px;
    height: 576px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgoldenrodyellow;
}
.flashcard-frame h2 {
    margin: 5px 5px auto auto;
}
.flashcard-frame h3 {
    margin: auto;
}
.flashcard-frame img {
    width: 40px;
    height: 35px;
    margin: auto 5px 5px auto;
}