.start-page {
  width: 100%;
  margin: 100px auto auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-logo img {
  width: 218px;
  margin: auto auto 240px auto;
}

.big-button {
  width: 55%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 65px;
  border: 3px solid #FFEF61;
  border-radius: 12px;
}
.big-button h1 {
  font-size: 20px;
  line-height: 23px;
  color: black;
  margin: 0 5px;
}